@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Maven+Pro:wght@400..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sixtyfour+Convergence&family=Tiny5&display=swap');



*{
    font-family: "Nunito", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.resimSlider{
    height: 600px;
}



body{
    padding-top: 50px;
    
}


.container{
    text-align: center;
    

}
.container h2{
    margin-top: 20px;
    text-shadow:1px 1px grey;
}

.hakkimizda{
    background-color: #f2f2f2;
   
}

.ayrac{
    border: none;
    border-top: 3px solid #343a40;
    max-width: 250px;
    margin: 25px auto;
    
}

.leaf{
    color: #343a40;
    position: relative;
    top: -50px;
    font-size: 40px;
    border: 10px solid #f2f2f2;
    background-color: #f2f2f2;
}

.leaf_two{
    color: #343a40;
    position: relative;
    top: -50px;
    font-size: 40px;
    border: 10px solid #fff;
    background-color: #fff;
}


.ekipCard>img:hover{
    opacity: 0.8;
}

.galeri{
    background-color: #f2f2f2;
}

.figure:hover{
    opacity: 0.8;
}

.form-group>label{
    position: absolute;
    left: -80px;
    margin-bottom: 10px;
  
}    


.form-group>input{
    position: relative;
}
   